.App {
  text-align: center;
  font-family: 'Arial';
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div.container {
  width: 75%;
  border: 1px solid gray;
}
div.header {
  height: 1.5em;
  background-color: #f3f4f6;
  color: black;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
div.header-text {
  padding: 0.5em;
  font-size: .7em;
  text-align: left;
  font-weight: bold;
  border-bottom: 0.5px solid gray;
}
div.body-text {
  color: black;
  padding: 0.5em;
  font-size: .7em;
  text-align: left;
}
div.footer {
  height: 1.5em;
  background-color: #fffaf4;
  color: black;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
}
